.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border: 2px solid blue;
  border-bottom: 1px solid blue;
}

.dropdown-content b {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
  background-color: #ccc;
  font-size: 75%; /* 缩小一半的字体大小 */
  line-height: 0.5em; /* 缩小一半的行间距 */
  border-bottom: 1px solid blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.charactertable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}