#jisuan tr td input {
    width: 50px;
}


#jisuan button{
    background-color: #98fb98;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    line-height: 30px;

}